*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1199px;
  margin: auto;
}


/* --------------------------------- */
/* HEADER */
header{
  background: transparent;
  /* FIXME: position: absolute; làm mất kích thước width và height mặc định */
  /*        thẻ con absolute không có thẻ cha nào relative thì tự theo body */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content ul{
  /* delete symbol before text */
  list-style: none; 
}

.header__content a{
  /* delete underline */
  text-decoration: none;

  text-transform: capitalize;

  /* font, size,.. */
  font-size: 15px;
  font-weight: 500;
  color: #070120
}


.header__content a span {
  /* Why animation work within display: inline-block? */
  display: inline-block;
  transition: all 1s;
}

.header__content a:hover{
  color: #f55f8d;
}

.header__content a:hover span{
  animation: upToDown 0.3s;
}


.header__content li{
  display: inline-block;

  /* add padding */
  padding: 55px 15px;
}

/* navbar stay on line */
.header__content nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navbar and button */
.header__content ul{
  margin-right: 30px;
}


.btn__gradient {
  padding: 20px 35px;
  border-radius: 30px;
  border: 1px solid transparent;

  background: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;

  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;

  cursor: pointer;

  /* hover */
  transition: all .5s;
}

.btn__gradient:hover{
  background-position: right center;
}


/* ------------------------------------------------------------------------- */
/* CAROUSEL */
.samarCarousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}

.samarCarousel__content {
  display: flex;
  align-items: center;
}

.samarCarousel__left {
  width: 60%;
}

.samarCarousel__right {
  width: 40%;
}

.samarCarousel__title p {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.samarCarousel__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.samarCarousel__article p {
  font-size: 18px;
  margin-bottom: 15px;
}

.samarCarousel__article li {
  list-style: none;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}

.samarCarousel__banner {
  width: 570px;
  margin-left: 50px;
}
.samarCarousel__banner img {
  max-width: 100%;
  display: block;
}
.samarCarousel__article ul {
  margin-bottom: 20px;
}

.samarCarousel__article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: white;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}


/* Animation */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}