*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.section__inner {
  padding-top: 115px;
}

/* --------------------------------- */
/* HEADER */
header{
  background: transparent;
  /* FIXME: position: absolute; làm mất kích thước width và height mặc định */
  /*        thẻ con absolute không có thẻ cha nào relative thì tự theo body */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 1; */
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content ul{
  /* delete symbol before text */
  list-style: none; 
}

.header__content a{
  /* delete underline */
  text-decoration: none;

  text-transform: capitalize;

  /* font, size,.. */
  font-size: 15px;
  font-weight: 500;
  color: #070120
}


.header__content a span {
  /* Why animation work within display: inline-block? */
  display: inline-block;
  transition: all 1s;
}

.header__content a:hover{
  color: #f55f8d;
}

.header__content a:hover span{
  animation: upToDown 0.3s;
}


.header__content li{
  display: inline-block;

  /* add padding */
  padding: 55px 15px;
}

/* navbar stay on line */
.header__content nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navbar and button */
.header__content ul{
  margin-right: 30px;
}


.btn__gradient {
  padding: 20px 35px;
  border-radius: 30px;
  border: 1px solid transparent;

  background: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;

  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;

  cursor: pointer;

  /* hover */
  transition: all .5s;
}

.btn__gradient:hover{
  background-position: right center;
}


/*----------------------------------------------------------------------- */
/* CAROUSEL */
.samarCarousel {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
}

.samarCarousel__content {
  display: flex;
  align-items: center;
}

.samarCarousel__left {
  width: 60%;
}

.samarCarousel__right {
  width: 40%;
}

.samarCarousel__title p {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.samarCarousel__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.samarCarousel__article p {
  font-size: 18px;
  margin-bottom: 15px;
}

.samarCarousel__article li {
  list-style: none;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}

.samarCarousel__banner {
  width: 570px;
  margin-left: 50px;
}
.samarCarousel__banner img {
  max-width: 100%;
  display: block;
}
.samarCarousel__article ul {
  margin-bottom: 20px;
}

.samarCarousel__article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: white;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}

/*----------------------------------------------------------------------- */
/* SERVICES */
.services {
  padding-bottom: 0;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.services__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.services__title h2 {
  font-weight: 900;
  font-size: 70px;
  margin-bottom: 20px;
  color: #262626;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

/* Truoc hover */
.services__item {
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all .5s;
}
/* Sau hover */
.services__item:hover {
  transform: translateY(-20px);
}

.services__item img{
  width: 215px;
}

.services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

/*----------------------------------------------------------------------- */
/* ABOUT */
.about {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.about__right{
  width: 50%;
}


.about__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}



.about__right p {
  margin-bottom: 15px;
}

.about__title p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
}

.about__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 900;
  color: #262626;
  margin-bottom: 20px;
}

.about__right ul {
  margin-bottom: 30px;
}

.about__right li {
  list-style: none;
}

.about__right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

/*----------------------------------------------------------------------- */
/* NUMBER */
.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 50px;
  text-align: center;
}

.number__content {
  display: flex;
  justify-content: space-around;
}
.number__item {
  width: 25%;
}

.number__item i {
  font-size: 45px;
  background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

.number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}


/*----------------------------------------------------------------------- */
/* FEATURES */
.features {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}

.features__content{
  display: flex;
}

.features__left, .features__right {
  width: 50%;
}

.features__title p{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.features__title h2{
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.features__item {
  padding: 0 50px 30px 0;
}

.features__item:nth-last-of-type(2) {
  padding: 0 0 30px 50px;
}

.features__bg{
  display: flex;

  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features__bg::after{
  content: "";
  position: absolute;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.features__bg:hover::after {
  opacity: 1;
}

.features__bg:hover i, .features__bg:hover h3, .features__bg:hover .features__leftContent {
  color: white;
}

.features__item .features__leftContent{
  padding-left: 25px;
  z-index: 1;
}

.features__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
}

.features__item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
}

.features_banner {
  margin-right: -80px;
}

.features_banner img {
  max-width: 100%;
  animation: moveImage 5s infinite;
}
/*----------------------------------------------------------------------- */
/* PORTFOLIO */
.portfolio {
  background-image: url(../img/bg17.png);
  background-position: top center;
  background-size: cover;
  text-align: center;
}

.portfolio__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.portfolio__title h2 {
  font-weight: 800;
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #262626
}

.portfolio__content {
  display: grid;
  /* always declare number of columns will be created */
  /* we will create 3 columns that 2 small colums (repeat)
    and 1 large column
  */
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.portfolio__item::before{
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all .75s;
}

.portfolio__item:hover::before{
  left: 125%
}

.portfolio__item img{
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
}

.portfolio__item1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.portfolio__item2 {
  grid-column: 1/3;
  /* grid-row: 3 / span 1; */
}

.portfolio__item3 {
  grid-column: 3 / 4;
  grid-row: 2/4;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all .75s;
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}

.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100% );
  background-size: 200%;
  border-radius: 10px;

  transform: translate(-20px, 20px);
  transition: all .75s;
}

.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all .75s;
}

.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}

.portfolio__text h3{
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.portfolio__text p{
  color: #fff;
  opacity: .7;
}

/*----------------------------------------------------------------------- */
/* PLAN */
.plan {
  background-image: url(../img/bg16.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.plan__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.plan__title h2 {
  font-weight: 800;
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #262626
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  margin-top: 40px;
}

.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all .5s;
}

.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}

.plan__header img{
  width: 125px;
}

.plan__item li, .plan__item p{
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}

.plan__item span{
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}

.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}

.plan__item li {
  padding: 5px 0;
  font-weight: 400;
  list-style: none;
}

.plan__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}


/*----------------------------------------------------------------------- */
/* TESTIMONIAL */
.testimonial {
  background-image: url(../img/bg17.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}

.testimonial__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.testimonial__title h2 {
  font-weight: 800;
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #262626
}

.testimonial-content {
  min-height: 300px;
}


.testimonial-thumbs{
  width: 300px;
  margin:auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}

.testimonial-thumbs::before{
  left: 0;
  background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial-thumbs::after{
  right: 0;
  background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
}

.testimonial-thumbs::before, .testimonial-thumbs::after {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}


.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color:#f55f8d;
}

.testimonial-comment {
  min-height: 300px;
  width: 100%;
}

.testimonial-comment .swiper-wrapper{
  padding-bottom: 20px;
}

.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all .5s;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic .shape-bx,
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::before,
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::after{
  opacity: 1;
}


.testimonial-thumbs::before{
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial-pic .shape-bx::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.testimonial-pic .shape-bx{
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  background-color: #f55f8d;
  transition: all 1s;
}


.testimonial-pic::before{
  width: 15px;
  height: 15px;
  bottom: 30px;
}

.testimonial-pic::after{
  width: 10px;
  height: 10px;
  bottom: 0;
}

.testimonial-pic::before, .testimonial-pic::after {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 /10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: white;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  /* Need position relative for '.testimonial-text i'  absolute */
  position: relative; 
}

.testimonial-text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}

.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: black;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial-text p{
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial-position {
  color: #f55f8d;
  margin-bottom: 20px;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}

.swiper-container {
  position: relative;
}

/* Force override :D */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -8px;
}

/*----------------------------------------------------------------------- */
/* BLOG */
.blog {
  background-image: url(../img/bg16.png);
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding-bottom: 50px;
}

.blog__title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.blog__title h2 {
  font-weight: 800;
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #262626
}

.blog__item {
  text-align: left;
  background: rgba(245,95,141,.1);
  border-radius: 8px;
}

.blog__header {
  position: relative;
}

.blog__header img {
  width: 100%;
  border-radius: 8px;
}

.blog__header p {
  background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog__footer p:first-of-type span {
  color: #f55f8d;
}


/*----------------------------------------------------------------------- */
/* FOOTER */


.backToTop {
  display: block;
  width: 50px;
  height: 50px;

  text-align: center;
  line-height: 50px;

  border-radius: 8px;
  background-color: #f55f8d;
  color: white;

  /* di theo body */
  position: fixed;
  bottom: 15px;
  right: 15px;



  /* An nut */
  opacity: 0;
  visibility: hidden;

  transition: all .2s;

  box-shadow: -4px 4px 24px -10px #f55f8d;;

}


/* // back-to-top button visible */
.cd-top--is-visible { 
  visibility: visible;
  opacity: 1;
}




/* Animation */
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes moveImage{
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}